/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

section {
  scroll-behavior: smooth;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.source-serif-4 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 6em;
  text-align: left;
  line-height: 1.2em;
  /* color: rgb(250, 250, 250, 0.9); */
  color: transparent;
}

h2 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 4em;
  padding-bottom: .5em;
  color: #7BB3C7;
}

h3 {
  font-size: 1.8em;
  padding-bottom: 0.6em;
  color: #304147;
}

h3:hover {
  color: #AC8839;
}

h4 {
  font-size: 1.4em;
  padding-bottom: .5em;
  color: #304147;
}

.experience-header {
  font-size: 2em;
}

.subtitle {
  text-align: left;
  font-size: 3em;
  color: #AC8839;
  margin-bottom: .3em;
}

.quote {
  text-align: left;
  font-style: italic;
  padding: 1em 0;
  border-top: 1px solid #7BB3C7;
}

.quote-large {
    font-family: "source serif 4";
    color: #7BB3C7;
}

.quote-name {
  margin-top: 1em;
  font-style: italic;
  opacity: .6;
}

.logo {
  width: 120px;
  height: auto;
  z-index: 999;
}

/* Main nav */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Inter";
  background-color: rgba(13, 232, 255, 20%);
}

.nav {
  height: 88px;
  width: 100%;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  padding: 0 2em;
}

.logo{
  margin-top: .5em;
  /* width: 120px; */
}

.nav > .nav-header {
  display: inline;
}

.nav-title{
  background-color: #fafafa;
  border-radius: 10em;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 50px 20px 10px 10px;
  margin-right: 1em;
  text-decoration: none;
  color: #304148;
}

.nav > .nav-links > a:hover {
  background-color: rgba(125, 178, 199, 0.2);
  border-bottom: 1px solid red;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 800px) {
  .nav {
    background-color: #fafafa;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 998;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 80px;
    height: 50px;
    padding: 20px 13px 13px 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid #304148;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #fafafa;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

}

main,
.footer-wrapper {
  margin: 0 4em 0 4em;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.intro {
  margin-top: 4em;
  margin-bottom: 15em;
  width: 80%;
}

.services,
.work,
.approach {
  /* height: 100vh; */
  width: 100%;
}

.services-frame,
.approach-frame {
  padding: 2em 3em;
  margin-bottom: 15em;

  background-color: #fafafa;
  border: 1px solid #AC8839;
  border-radius: 8px;
}

.work-frame {
  margin-bottom: 15em;
  padding: 0 3em;
}

.logo-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 8em;
  margin-bottom: 15em;
  padding: 0 5em;

  justify-content: space-between;
  align-items: baseline;
}

.logo-wrapper {
  width: 200px;
  box-sizing: border-box;
}

.logo-wrapper:hover {
  opacity: .8;
}

.desmet {
  width: 125px;
}

.header {
  height: 90vh;
  padding-top: 45vh;
  background-color: rgb(144, 144, 150);
  background-image: url("assets/cerescor-hero-video-3.mp4");
  background-repeat:no-repeat;
  background-position: center center;
  padding: 40vh 30em 0 2em;
}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.service-item {
  width: 45%;
  margin-bottom: 80px;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em
}

.standout {
  margin-bottom: 8em;
  border-bottom: 1px solid #304147;

  opacity: .8;
  transition: all 500ms ease-in-out;
}

.experience-item {
  margin-bottom: 24px;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.img-wrapper {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  border: 1px solid #AC8839;
  border-radius: 8px;
}

p.experience {
  display: flex;
  align-items: center;
  gap: .5em;
  font-size: 3rem;
}

span.year {
  font-size: 12rem;
  font-weight: 700;
  color: #304147;
}

p.date {
  font-size: .8em;
  text-transform: uppercase;
  color: #7BB3C7;
  font-weight: 700;
  margin-bottom: .5em;
}

.social-media a {
  text-decoration: none;
  color: #7BB3C7;

  transition: 150ms ease-in;
}

.social-media a:hover {
  text-decoration: underline;
  opacity: .8;
}

div.icon img {
  height: 20px;
}

footer {
  width: 100%;
  background-color: #304147;
  color: #fafafa;
  padding: 1em 0;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
}

.some-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: .5em;
  margin-top: 1em;
}

@media (max-width: 900px) {
  .subtitle {
    padding: 0 3em 0 0;
  }
  h1 {
    font-size: 3.2em;
    line-height: 1em;
    margin-bottom: 0.2em;
  }
  h2 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 1.8em;
    line-height: 1.3em;
  }
  .subtitle {
    font-size: 2em;
  }
  main {
    margin: 0 2em 0 2em;
  }
  .nav {
      padding: 0 2em;
  }
  .header,
  .services,
  .work,
  .approach {
  height: 100%;
} 
  .intro {
    margin-top: 4em;
    margin-bottom: 8em;
    width: 100%;
}
  .header{
    height: 100vh;
    padding: 40vh 0em 0 2em;
  }
  .service-item {
    width: 100%;
  }
  .experience-grid {
  grid-template-columns: 1fr;
  gap: 0;
  }
  .experience-item {
    margin-bottom: 2em;
  }
  .experience-header {
    margin-bottom: 0em;
    padding-bottom: 0.2em;
    line-height: 1.2em;
  }
  /* .logo-wrapper {
    width: 100px;
  } */
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .img-wrapper {
    display: block;
    overflow: hidden;
    height: auto;
    width: 100%;
}
p.experience {
  font-size: 1.3em;
}
span.year {
  font-size: 5em;
}
}

@media (max-width: 400px) {
  .subtitle {
    padding: 0 3em 0 0;
  }
  .logo {
    background-color: transparent;
  }
  h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0.2em;
  }
  main {
    margin: 0 1em 0 1em;
  }
  .nav {
      padding: 0 0em;
  }
  .service-item {
    width: 100%;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
